{% extends 'base.html' %} {% load static %} {% block content %}
<h2 style="text-align: center">{{ search | title }}</h2>

<div class="row">
  {% for post in final_postings %}
  <div class="col s4">
    <div class="card">
      <div class="card-image">
        {% if post.3 %}
        <img src="{{ post.3 }}" />
        {% else %}
        <picture
          ><img src="{% static "images/Craigslist-icon.png" %}">
        </picture>
        {% endif %}
      </div>
      <div class="card-content">
        <p>{{ post.0 }}</p>
      </div>
      <div class="card-action">
        {% if post.4 %}
        <p>{{ post.4 }} {{ post.2 }}</p>
        {% else %}
        <p>{{ post.2 }}</p>
        {% endif %}
        <a href="{{ post.1 }}"> Show details</a>
      </div>
    </div>
  </div>
  {% endfor %} {% if not final_postings %}
  <p>No search results found</p>
  {% endif %}
</div>

{% endblock content %}
