body {
  background-color: rgb(214, 245, 245);
}

h1 {
  text-align: center;
}

.card-action p {
  text-transform: uppercase;
  display: inline;
  font-weight: 500;
}

.card-action {
  position: relative;
}

.card-action a {
  position: absolute;
  right: 1rem;
}
